IVOA_interop/Makefile
IVOA_interop/back_glossary.tex
IVOA_interop/pysrc/example1/result.vot
IVOA_interop/pysrc/example2/neutrinos.vot
IVOA_interop/pysrc/example2/neutrinos.xml
IVOA_interop/pysrc/example3/.example3.py.swp
IVOA_interop/pysrc/example4/
IVOA_interop/pysrc/registry/
IVOA_interop/title-aladin.png
latex-votut

